body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-link {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-link-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.heider-container {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  align-items: center;
}
.logo-nav-footer {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.nav-bar {
  display: flex;
  gap: 40px;
}

.accent-logo {
  color: #2e2f42;
}
.navigation {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover,
.navigation:focus,
.navigation:active {
  color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-section {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-section:hover,
.button-section:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  gap: 24px;
}

.section-strategy {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraf-section {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-section-our {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-link {
  display: flex;
  gap: 24px;
}

.team-link {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.images-person {
  padding: 32px 0;
}

.section-strategy-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.paragraf-section-our {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
  fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.advantages-section-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-inline-start: 0px;
}
.portfolio-list-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .cashless-cover-text {
  transform: translateY(0);
}

.cashless-cover-wrap {
  position: relative;
  overflow: hidden;
}

.cashless-cover-text {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-strategy-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraf-section-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-section-section {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.footer-container {
  margin-right: 120px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer-logo {
  color: #f4f4fd;
}
.footer-paragraf {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.team-link {
  background-color: #ffffff;
}
.section-link-team {
  background-color: #f4f4fd;
}
.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.footer-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-icon-icon {
  fill: #f4f4fd;
}
.form-subsribe {
  gap: 24px;
  display: flex;
}
.subsribe-paragraf {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.button-subsribe {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  height: 40px;
  min-width: 165px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subsribe:focus,
.button-subsribe:hover {
  background-color: #404bbf;
}

.icon-subsribe {
  margin-left: 16px;
}
.footer-form {
  margin-left: 80px;
}

.input-subsribe {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}
.input-subsribe::placeholder {
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #fff;
}
.modal-title {
  font-family: Roboto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.modal-label {
  display: block;
  flex-direction: column;
  color: #8e8f99;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}
.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  padding: 8px 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.form-accept {
  margin-bottom: 24px;
}
.form-accept-label {
  color: #8e8f99;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
}
.form-accept-span {
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-policy-paragraf {
  color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.33;
  text-decoration: underline;
}

.checkbox-accept:checked + .form-accept-label .form-accept-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.button-send {
  display: block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:focus,
.button-send:hover {
  background-color: #404bbf;
}
